
<div class='span11 box box-collapsed box-nomargin'>
	<div class='box-header orange-background'>
  	<div class='title'>条件查询</div>
    	<div class='actions'>
         <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
         </a>
       </div>
    </div>

    <div class='box-content'>
		<%= search_form_for [:admin,@q] ,:class=>"form-horizontal" do |f| %>

			<div class="control-group">
				<%=f.label :mobile ,:class=>"control-label"%>:
			    <div class="controls">
					  <%= f.text_field :mobile_cont,:class=>"search-query input-medium" ,:placeholder=>"手机号码"%>
			    </div>
			</div>
			<div class="control-group">
				<%=f.label :customer_name ,:class=>"control-label"%>:
			    <div class="controls">
					  <%= f.text_field :customer_name_cont,:class=>"search-query input-medium" ,:placeholder=>"收件人名称"%>
			    </div>
			</div>
		
			<div class="control-group">
				<%=f.label :customer_address,:class=>"control-label"%>:
			    <div class="controls">
					  <%= f.text_field :customer_address_cont,:class=>"search-query input-medium" ,:placeholder=>"寝室楼"%>
			    </div>
			</div>
			
			
			<div class="control-group">
		    <label class="control-label">订单日期</label>
		    <div class="controls">
					<%= f.date_field :created_at_gteq, :include_blank => true %> ~ 	<%= f.date_field :created_at_lteq, :include_blank => false %>
		    </div>
		  </div>
		  

		  <div class="control-group">
		    <div class="controls">
				  <button type="submit" class="btn">查找</button>
		    </div>
		  </div>
		</div>
		<% end %>
  </div>
</div>