<%=fields_for_shopping_item (shopping_item)  do |item_form| %>
<tr class="item">

  <td>
	  <%= item_form.hidden_field :id%>
  
    <%= item_form.hidden_field :product_id %>

    <%= item_form.text_field :product_name %>
  </td>
  <td>
    <%= item_form.text_field :price,:class=>"input-mini" %>
  </td>
  <td>
     <%= item_form.text_field :count ,:class=>"input-mini" %>
  </td>
	<td>
		 <%= item_form.text_field :amount,:class=>"input-mini" %>
		</td>
		<td>
			<%= link_to_function "x", "$(this).parent().parent('.item').remove()" %>
			</td>
	</tr>
	
<% end %>