<%= content_for :title do %>
	手工添加订单信息
<% end %>

<div class='span11 box box-bordered box-nomargin'>
    <div class='box-header blue-background'>
        <div class='title'>添加商品信息</div>
        <div class='actions'>
            <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
            </a>
        </div>
    </div>
    <div class='box-content'>	
			<%= simple_form_for(ShoppingItem.new,url:new_shopping_item_path,:method=>:get,:remote=>true,:html=>{:class=>"default_class validate-form"}) do |f|%>
				<label for="products-select">添加商品记录</label>
			
				<%=f.input :product_id,collection: @products,:input_html=>{:class=>"chosen-select","data-rule-required"=>true},label_method: :name, value_method: :id,:label=>false%>
				<%=f.submit '添加商品',:class=>"btn btn-primary"%>
			<%end%>
    </div>
</div>



<div class='span11 box box-bordered box-nomargin'>
    <div class='box-header blue-background'>
        <div class='title'>订单信息</div>
        <div class='actions'>
            <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
            </a>
        </div>
    </div>
    <div class='box-content'>
				<%=render "form"%>
    </div>
</div>


