
<%= content_for :title do %>
	订单详细信息 #<%=@shopping.id%>  
	
	
	<%unless @prev.nil?%>
	
	<%=link_to [:admin,@prev],:class=>'btn' do%>
		<i class="icon-arrow-left icon-white"></i> 上一个订单
	<%end%>
	<%end%>
	<%unless @next.nil?%>
		<%=link_to [:admin,@next],:class=>'btn' do%>
		 下一个订单<i class="icon-arrow-right icon-white"></i>
		<%end%>
	<%end%>
	<br/> 

<% end %>


<div class='span11 box'>
	<div class='box-content'>
		<div class='pull-left'>
				<%=tag_process_field(@shopping)%>
     </div>


		<div class='pull-right'>
			<%= link_to edit_admin_shopping_path(@shopping),:class=>"btn btn-info" do%>
				<i class="icon-edit"></i>	编辑订单
			<%end%>

     </div>
     <div class='clearfix'>

     </div>
     <hr class='hr-normal' />
			<h3><%=@shopping.status%></h3>
    

  		<table class='table table-hover'>
                   <thead>
									 	<tr>
											<th>商品名称</th>
											<th>订购数量</th>
											<th>单价</th>
											<th>小计</th>
                   	</tr>
                   </thead>
                   <tbody>
											<% @shopping.shopping_items.each do |item|%>
												<tr>

													<td><%=item.product_name%></td>
													<td><%=item.count%> <%=item.product_unit%></td>
													<td>
														<div  class='text-center'><%=number_to_currency(item.price,:unit=>"&yen")%> / <%=item.product.unit%></div>
															</td>
													<td>
														<div  class='text-right'>
														<%=number_to_currency(item.amount,:unit=>"&yen")%>
														</div>
													</td>
												</tr>
											<%end%>
                   </tbody>
               </table>

               <div class='text-right'>
                   <h3 class='subtotal contrast'>  <%=number_to_currency(@shopping.amount,:unit=>"&yen") %></h3>
               </div>
               <hr class='hr-normal' />
               <div class='row-fluid'>
                   <div class='span4'>
                       <div class='lead'>
                      	<i class='icon-user contrast'></i>
                           客户信息
                       </div>
                   </div>
                   <div class='span7 offset1'>
                       <address>
                           <strong>姓名:</strong>
												 <%= @shopping.customer_name -%>
													<br/>
												 <abbr title='手机'>手机:</abbr>
                         <%= @shopping.mobile_phone -%>
												
                       </address>

                   </div>
               </div>

               <div class='row-fluid'>
                   <div class='span4'>
                       <div class='lead'>
                           <i class='icon-envelope contrast'></i>
                           地址信息
                       </div>
                   </div>
                   <div class='span7 offset1'>
                       <address>
                           <strong><%= @shopping.detail_address -%>
	                         </strong>
													<br/>
													 <abbr title='下单时间'>下单时间:</abbr>
														<%=I18n.localize( @shopping.created_at,:format=>:long)%> </br>
														
													 <abbr title='送货时间'>送货时间:</abbr>
												  <%= @shopping.receive_time %>
	
                       </address>
                   </div>
               </div>
               <div class='row-fluid'>
                   <div class='span4'>
                       <div class='lead'>
                           <i class='icon-book contrast'></i>
                           订单其他信息
                       </div>
                   </div>
                   <div class='span7 offset1'>
                       <address>
													 <strong>订单号:</strong>#<%= @shopping.id %></br>
                           <strong>备注信息
	                         </strong>
                           <br />
                          <%=@shopping.remark -%>
                       </address>
                   </div>
               </div>

               <div class='form-actions'>
                   <ul class='pager'>
                       <li>
													<%=link_to "返回列表", admin_shoppings_path%>
                       </li>
                   </ul>
               </div>
           </div>
       </div>
   </div>
