<%if @cart.cart_items.any?%>
<div class="my-cart"> <span class="red">共<span id="total_count"><%=@cart.total_count%></span>件商品</span>
	<div class="btn-area-rt">
		<a href="/mobile/home/category.html" class="link ft15">继续购买 |</a>
		<%=link_to "去结算",new_mobile_shopping_path(:cart_id=>current_cart.id), :class=>"btn-type ft15"%>
	</div>
</div>

<div class="cart-list radius mc">
	
	<table class="table">
		<thead>
			<tr>
				<th>商品名称</th>
				<th>价格</th>
				<th>数量</th>
				<th>小计</th>
				<th>删除</th>
			</tr>
		</thead>
		<tbody>
			<%@cart.cart_items.each do |item|%>		
				<tr id='product<%=item.id%>'>
					<td>
						<%=link_to [:mobile,item.product]  ,:class=>"f6" do%>
							<%=item.name%>
						<%end%>
					</td>
					<td>
						<p class="p-price" id="price"><%=number_to_currency item.price,:unit=>"&yen"%></p>
					</td>
					<td>
						<%=link_to minus_mobile_cart_item_path(item,:quantity=>"1"),:class=>"decrease",:remote=>true do%>
							+
						<%end%>
						<input type="text" id="quantity<%=item.id%>" value="<%=item.quantity%>" size="3" style="text-align:center;border: 1px solid #b3b3b3;width:50px;" class="number-input" readonly/>

						<%=link_to plus_mobile_cart_item_path(item,:quantity=>"1"),:class=>"increase",:remote=>true do%>
							-
						<%end%>
					</td>
					<td>
							<p class="p-price"><span class="red" id="price<%=item.id%>"><%=number_to_currency item.amount,:unit=>"&yen"%></span></p>
					</td>
					<td>
						<%=link_to '[删除]',[:mobile,item],:method=>:delete, :remote=>true%>
					</td>
				</tr>
			<%end%>
		</tbody>
	</table>
	
</div>
<div class="pay-tip">
	<p>购物金额：<span id="total_amount"><%=number_to_currency current_cart.total_amount,:unit=>"&yen"%></span>
	</p>
</div>
	<%=link_to new_mobile_shopping_path(:cart_id=>current_cart.id), :class=>" btn-block btn_font btn-add-cart" do%>
		去结算
	<%end%>

<div class="to-top"><a href="javascript:scroll(0,0)" hidefocus="true"><span></span>回顶部</a></div>

<%else%>

<div class="well">
	<p>
	购物您的购物车是空，清选购商品后再进行结算
	</p>
</div>
<%end%>
