<p id="notice"><%= notice %></p>
<p>通过下方的链接分享您的表单:</p> <%=link_to list_order_url(@order),list_order_url(@order),:method=>:get%>
<form>
<fieldset>
    <legend>
      <span class="form-name"><%=@order.name%></span>
      <small class="form-description"><p><%=@order.content%></p></small>
    </legend>
<%=render :partial=> @order%>
</fieldset>
</form>