<h2>我的历史购买记录</h2>

<div id="goods_container" class="container shadow">
<div class="goods_head">
		<ul id="myTab" class="nav nav-pills">
		  <li ><%=link_to "个人信息",current_user%></li>
		  <li ><%=link_to "订单信息",shopping_user_path(current_user)%></li>
		
		  <li class="active"><%=link_to "购物记录",history_buy_user_path(current_user)%></li>
		
		</ul>
</div>
<div class="goods_body">
	<div class="row">
		<div class="span12">
			<div id="main" class="history-table">
				
				<table class="table">
					<thead>
						<tr>
							<th>下单时间</th>
							<th>名称</th>
							<th>单价</th>
							<th>数量</th>
							<th>操作</th>
							
						</tr>
					</thead>
					<tbody>
					<%@shoppings.each do |shopping|%>
						<%shopping.shopping_items.each do |item|%>
						<tr>
							<td class="center"><%=I18n.localize( shopping.created_at,:format=>:long)%></td>
							<td><%=item.product_name%></td>
							<td><%=number_to_currency(item.price,:unit=>"&yen")%></td>
							<td><%=item.count%></td>
							<td><%=link_to "查看产品明细", item.product%></td>
						</tr>					
						<%end%>
					<%end%>
					</tbody>
					
				</table>
			</div>

		</div>
		<div id="sidebar" class="span3">
		</div>
</div>

</div>
