<div class="row-fluid print-hide">
	<div class="span12">
		<div class="navbar main-nav">
			<div class="navbar-inner">
				<div class="container">
					<div class="nav-navbar">
						<ul class="nav">
							<li>
								<%=link_to  root_path do%>
									<i class="icon-home"></i>
								<%end%>
							<li class="divider-vertical"></li>
							
							
							<li><%=link_to "首页", root_path%></li>
							<li><%=link_to "所有水果", products_path%></li>
							
							<%GoodsCate.main_types.each do |cate|%>
								<li><%=link_to cate.name, products_path(:main_cate_id=>cate.id)%></li>
							<%end%>

						</ul>

						<ul class="nav pull-right">
							<li class="divider-vertical"></li>
							<!--li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-question-sign"></i></a>
								<ul class="dropdown-menu">
									<li>
										<div class="dropdown-content dropdown-content-wide">
											<form class="form-search">
												<div class="input-append">
													<input type="text" class="search-query" placeholder="Type your question...">
													<button class="btn">ok</button>
												</div>
											</form> 
										</div>
									</li>
								</ul>
							</li-->
							<%= render 'carts/cart'%>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>