	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-shopping-cart"></i>购物车 
    </a>
		<ul class="dropdown-menu">
			<%if @cart!=nil%>
				<%@cart.shopping_items.each do |item|%>
							<li>
								<%=link_to item.product do%>
									<span class="pull-left"> <%=item.product_name%> x <%=item.count%></span> &nbsp; <span class="pull-right label label-info"><%=number_to_currency(item.amount,:unit=>"&yen")%></span>
								<%end%>
							</li>
				<%end%>
				<li class="divider"></li>
				
				<li>
					<%=link_to @cart do%>
						去购物车查看所有购买的商品<i class="icon-chevron-right"></i>
					<%end%>
				<%end%>
		</ul>
	</li>