<%= content_for :title do %>
	商品销量报表
<% end %>


<%= high_chart("my_id4", @chart)  %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>商品名称</th>
			<th>总销售额</th>
			<th>总销售量</th>
			
		</tr>
	</thead>
	<%amount=0%>
	<%count=0%>
	
	<tbody>
		<%@products.each do |product|%>
		
		<tr>
			<td><%=product.name%></td>
			<td><%=number_to_currency product.amount , :unit=>"¥"%> </td>
			<%amount=amount+ product.amount%>
			<%count=count+ product.count%>
			<td><%=product.count%> <%=product.unit%></td>
		</tr>
		<%end%>
		<tr class="success">
			<td>总计</td>
			<td><%=number_to_currency amount, :unit=>"¥"%> </td>
			<td><%= count %>件 </td>
			
		</tr>
	<tbody>
</table>

