<%= content_for :title do %>
	日营业统计汇总
<% end %>

<%= high_chart("my_id4", @chart)  %>


<table class="table table-striped">
	<thead>
		<tr>
			<th>日期</th>
			<th>总销售额</th>
		</tr>
	</thead>
	<%amount=0%>
	

	
	<tbody>
		
		<%@shoppings.each do |shopping|%>
		
		<tr>
			<td><%=shopping.day%></td>
			<td><%=number_to_currency shopping.total , :unit=>"¥"%> </td>
			<%amount=amount+ shopping.total%>
		</tr>
		<%end%>
		<tr class="success">
			<td>总计</td>
			<td><%=number_to_currency amount, :unit=>"¥"%> </td>
			
		</tr>
	<tbody>
</table>

