<%= content_for :title do %>
	浏览所有商品信息
<% end %>
<div class='span11 box bordered-box blue-border' style='margin-bottom:0;'>
    <div class='box-header blue-background'>
        <div class='title'>所有商品列表</div>
        <div class='actions'>
					<%= link_to  admin_products_path(:format => :csv) ,:class=>"btn btn-mini btn-link" do%>
							<i class="icon-save">导出CSV</i>
					<%end%>
            <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
            </a>
        </div>
    </div>
    <div class='box-content box-no-padding'>
        <div class='responsive-table'>
            <div class='scrollable-area'>
							<table class="table table-hover">
							  <thead>
							    <tr>
							      <th>图片</th>
							      <th>名称</th>
							      <th>价格</th>
							      <th>单位</th>
							      <th>公开商品</th>
							      <th>上架</th>

								  <th>
											操作
								  </th>
							    </tr>
							  </thead>

							  <tbody>
							    <% @products.each do |product| %>
							      <tr>
							        <td>
												<%= link_to [:admin,product] do%>
													<%= image_tag product.cover_url(:small),:class=>"img-polaroid" %>
												<%end%>
											</td>
							        <td><%= link_to product.name, [:admin,product],:rel=>"tooltip",:title=>"点击查看详细信息" ,"data-placement"=>"bottom"  %></td>
							        <td><%= number_to_currency product.price,:unit=>"¥"%></td>
							        <td><%= product.unit %></td>
							        <td><%= t product.public.to_s %></td>
							        <td><%= t product.is_onsale.to_s %></td>

							        <td>
												<%= link_to [:admin,product], method: :delete, data: { confirm: '你确定需要删除订单吗？' } ,:class=>"btn btn-danger btn-mini" do %>
													<i class='icon-remove'></i>
												<%end%>

												<%= link_to  edit_admin_product_path(product) ,:class=>"btn btn-info btn-mini",:rel=>"tooltip",:title=>"编辑商品" ,"data-placement"=>"bottom"  do%>
													<i class='icon-edit'></i>
												<%end%>
												<%= link_to  photo_admin_product_path(product) ,:class=>"btn btn-success btn-mini",:rel=>"tooltip",:title=>"编辑配图" ,"data-placement"=>"bottom" do%>
													<i class='icon-picture'></i>
												<%end%>
												 
											</td>
							      </tr>
							    <% end %>
							  </tbody>
							</table>
					</div>
				</div>					
			</div>
			<%=will_paginate @shoppings%>
	</div>		
</div>