<nav class='' id='main-nav'>
	<div class='navigation'>
		<ul class='nav nav-stacked'>
			<li class='active'>
					<%=link_to admin_root_path do%>
						<i class='icon-dashboard'></i>
			    	<span>控制仪表盘</span>
					<%end%>
			</li>

			<li>
			    <a class='dropdown-collapse ' href='#'>
			        <i class='icon-th-large'></i>
			        <span>总库商品管理</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked'>
			        <li>
								<%= link_to admin_goods_path do %>
									<i class='icon-caret-right'></i>
			          	<span>总库商品列表</span>
								<%end%>
			        </li>
			        <li>
								<%= link_to new_admin_good_path do %>
									<i class='icon-caret-right'></i>
			          	<span>新增总库商品</span>
								<%end%>
			        </li>
			        <li>
								<%= link_to admin_goods_cates_path do %>
									<i class='icon-caret-right'></i>
			          	<span>商品分类列表</span>
								<%end%>
			        </li>
			        <li>
								<%= link_to new_admin_goods_cate_path do %>
									<i class='icon-caret-right'></i>
			          	<span>新增商品分类</span>
								<%end%>
			        </li>
			    </ul>
			</li>

			<li>
			    <a class='dropdown-collapse ' href='#'>
			        <i class='icon-barcode'></i>
			        <span>销售商品管理</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked'>
			        <li class=''>
								<%= link_to admin_products_path do %>
									<i class='icon-caret-right'></i>
			          	<span>销售商品列表</span>
								<%end%>

			        </li>
			        <li class=''>
								<%= link_to new_admin_product_path do %>
									<i class='icon-caret-right'></i>
			          	<span>新增销售商品</span>
								<%end%>
			        </li>
			    </ul>
			</li>


			<li class=''>
			    <a class='dropdown-collapse' href='#'>
			        <i class='icon-edit'></i>
			        <span>客户订单管理</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked'>
				    <li class=''>
			          <a href='<%=uncompleted_admin_shoppings_path%>'>
			              <i class='icon-caret-right'></i>
			              <span>进行中的订单</span>
			          </a>
			      </li>
			        <li class=''>
			            <a href='<%=admin_shoppings_path%>'>
			                <i class='icon-caret-right'></i>
			                <span>浏览全部订单</span>
			            </a>
			        </li>
			        <li class=''>
			            <a href='<%=new_admin_shopping_path%>'>
			                <i class='icon-caret-right'></i>
			                <span>手工添加订(测试功能)</span>
			            </a>
			        </li>

			    </ul>
			</li>

			<li class=''>
			    <a class='dropdown-collapse' href='#'>
			        <i class='icon-book'></i>
			        <span>文章管理</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked'>
				    <li class=''>
			          <a href='<%=admin_articles_path%>'>
			              <i class='icon-caret-right'></i>
			              <span>文章分类管理</span>
			          </a>
			      </li>
			        <li class=''>
			            <a href='<%=admin_article_cates_path%>'>
			                <i class='icon-caret-right'></i>
			                <span>文章管理</span>
			            </a>
			        </li>
			    </ul>
			</li>

			<li>
			    <a class='dropdown-collapse ' href='#'>
			        <i class='icon-table'></i>
			        <span>订单表格管理</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked'>

			    </ul>
			</li>



			<li>
			    <a class='dropdown-collapse ' href='#'>
			        <i class='icon-comments-alt'></i>
			        <span>微信管理</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked'>
			      
			    </ul>
			</li>

			<li>
			    <a class='dropdown-collapse ' href='#'>
			        <i class='icon-bar-chart'></i>
			        <span>报表</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked'>
			        
			    </ul>
			</li>

			<li>
			    <a class='dropdown-collapse ' href='#'>
			        <i class='icon-cog'></i>
			        <span>系统设置</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked'>
			        <li class=''>
			            <a href='#'>
			                <i class='icon-caret-right'></i>
			                <span>系统参数设置</span>
			            </a>
			        </li>
				   </ul>
			</li>

		</ul>
	</div>
</nav>