<%=render 'shared/error_messages',:target=>@goods%>

<%=simple_form_for([:admin,@goods],:html=>{:class=>"form-horizontal"}) do |f|%>
<fieldset>
    <div class='span3'>
        <div class='lead'>
            <i class='icon-th-large text-contrast'></i>
            总库商品信息
        </div>
				<%=image_tag @goods.icon_url(:normal)%>
    </div>
    <div class='span9 '>
			<%=f.input :name,:input_html=>{:class=>"input-xxlarge"}%>
			<%=f.input :no,:input_html=>{:class=>"input-xxlarge"}%>
			<%=f.input :icon%>
			<%= f.input(:goods_cate_id, :collection => GoodsCate.main_types,
			       :as => :grouped_select,
			       :group_method => :children_goods_cates,
			       :group_label_method  => :name,
			       :include_blank => "选择商品分类")%>
			<%=f.input :mk_price%>
			<%=f.input :price%>	
			<%=f.input :weight%>
			<%=f.input :unit%>
			<%=f.input :sellable%>
			<%=f.input :keywords,:placeholder=>"多个关键字用空分开"%>
			<%=f.input :brief,:input_html=>{:class=>"input-xxlarge"}%>
			<%=f.input :intro%>
		</div>

	</fieldset>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">保存</button> 
			<button class="btn">取消</button>
		</div> <!-- /form-actions -->
<%end%>

<script type="text/javascript">
$("#good_intro").qeditor({});
</script>

