<%= content_for :title do %>
	商品配图管理 - <%=@goods.name%>
	
<% end %>

<div class='box bordered-box blue-border'>
	<div class='box-header fb-background'>
		<div class='title'>上传图片</div>
	</div>
	<div class='box-content box-no-padding'>
		<%=simple_form_for [:admin,@goods,GoodsImage.new],:html=>{:class=>"form-horizontal"} do |f|%>
			<%=f.input :cover%>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">上传</button> 
			</div> <!-- /form-actions -->		<%end%>
	</div>
</div>
		
		
<div class='box bordered-box blue-border'>
	<div class='box-header fb-background'>
	    <div class='title'>商品配图管理</div>
	    <div class='actions'>

	    </div>
	</div>
	<div class='box-content box-no-padding'>
		<%= grid(@goods_images_grid, show_filters: :when_filtered, hide_csv_button: true) do |g|
			g.column :name => 'ID', :attribute => 'id'

			g.column :name => "图片", :attribute => "cover" do |image|
				image_tag image.cover_url(:mobile)
		  end
	
			g.column do |image|
				link_to "删除",[:admin,image],:method=>:delete
			end
		end -%>
	</div>
</div>