<%= render "shared/error_messages",:target=>@shopping%>


<div class="row-fluid">
		<div class="span5 well">
			<legend>您的联系方式</legend>
						<%= simple_form_for(@shopping) do |f| %>

						<%= f.input :customer_name%>
						<%= f.input :school_area,:collection=>Shopping::SCHOOL_AREAS%>

						<%= f.input :customer_build,:collection=>Shopping::BUILDS%>
						<%= f.input :customer_address,:input_html=>{:style=>"height:40px;"},:placeholder=>"公寓楼号-寝室号"   %>

						<%= f.input :receive_time,:collection=>Shopping.available_time,:selected=>Shopping::available_time[0] %>
						<%= f.input :mobile_phone%>
						<%= f.input :remark ,as: :text,input_html: { maxlength: 50 } %>
			</div>
			<div class="span7">
				<table class="table table-bordered">
					<thead>
					<tr>
						<th>商品总计</th>
						<th width="50">数量</th>
						<th width="70">小计</th>
					</tr>
				</thead>
				<tbody>
					<%@shopping.shopping_items.each do |item| %>
					<tr>
						<td>	<%= item.product_name%></td>
						<td align="center"> <input name="goods[<%=item.product.id%>][count]"  class="input-micro" readonly='true' value='<%= item.count%>' hidden/>  <%= item.count%> <%= item.product_unit%></td>
						<td align="right"><%= number_to_currency(item.amount,:unit=>"&yen")%></td>
					</tr>
					<%end%>


					<tr>
						<td>运费</td>
						<td align="right" colspan="2">&yen 0.00</td>
					</tr>

					<tr>
						<td align="right" colspan="3"><strong><%=number_to_currency(@shopping.amount,:unit=>"&yen")%></strong></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<%=link_to @cart ,:class=>"btn" do%>
			<i class="icon-chevron-left"></i>编辑购物车
			<%end%>
		</div>
		<div class="span6">
			<%= button_tag(:class=>"btn btn-primary pull-right") do %>
			  下单 <i class='icon-chevron-right icon-white'></i>
			<% end %>
		</div>
</div>

<%end%>
