<div class="goods-div">
	<div class="image-center">
	<%= image_tag goods.cover%>
	</div>
	<div class="name bottom-dashed">
	<%= goods.name%><br/>
	<small><%= goods.content%></small>
	  
	</div>
	<div class="price">
	&yen<%= goods.price%><%= goods.unit%>
	</div>
</div>